
        
        <%= render 'nav' %>
        
        <!--hero header-->
        <section class="pt-7 pt-md-8" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto my-auto text-center">
                        <h1><%= @hero.fields.headline %></h1>
                        <p class="lead mt-4 mb-5">
                            <%= @hero.fields['sub-headline'] %>
                        </p>
                        <p><img class="img-fluid" src="<%= @hero.fields.image %>" alt="Mockup" /></p>

                        <a href="<%= @hero.fields.button_url %>" class="btn btn-primary btn-lg mt-5 mb-5"><%= @hero.fields.button_label %></a>
                    </div>
                </div>
            </div>
        </section>

        <!--features section-->
        <section class="bg-light py-7" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <h2 class="dot-circle"><%= @our_offer.headline %></h2>
                        <p class="text-muted lead"><%= @our_offer['sub-headline'] %></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-10 mx-auto">
                        <div class="row card-services">
                            <% @our_offer.fields.features.each do |offer| %>
                                <div class="col-md-6 mb-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="icon-box border-box">
                                                <div class="icon-box-inner small-xs text-primary">
                                                    <img width="60" height="60" src="<%= offer.icon %>" />
                                                </div>
                                            </div>
                                            <h5 class="mt-0 mb-3"><%= offer.headline %></h5>
                                            <%= offer.description %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--call to action-->
        <section class="bg-hero py-8" >
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h2 class="text-white">We help the world's top companies to create amazing products.</h2>
                        <p class="lead text-white my-4">Ready to launch your awesome website?</p>
                        <button class="btn btn-primary">Request a free quote</button>
                    </div>
                </div>
            </div>
        </section>

        <!--- @testimonial --->
        <section class="py-7">
            <div class="container align-center">
                <h1> Testimonial </h1>
                <div class="row">
                    <% @testimonial.each do |client| %>
                        <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="mb-3">
                                <h3><%= client.full_name %></h3>
                                <p><%= client.occupation %></p>
                            </div>
                            <div class="align-center">
                                <div class="image-holder mb-3 d-inline-block">
                                    <img src="<%= client.image %>" />
                                </div>
                            </div>
                            <div><%= client.content %></div>
                        </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </section>


        <!--contact section-->
        <section class="py-7" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <h2>Want to work with us?</h2>
                        <div class="divider bg-primary mx-auto"></div>
                        <p class="text-muted lead">
                            Are you working on something great? We'd love to help make it happen.
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-8 mx-auto">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email"  class="form-control" placeholder="Your email address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="tel"  class="form-control" placeholder="Phone number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="url"  class="form-control" placeholder="Your website">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea rows="5"  class="form-control" placeholder="What are you looking for?"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary">Send your message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!--footer / contact-->
        <footer class="py-6 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                            <li class="list-inline-item"><a href="#">Terms</a></li>
                            <li class="list-inline-item"><a href="#">Affiliates</a></li>
                            <li class="list-inline-item"><a href="#">Support</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                        </ul>
                        <p class="text-muted small text-uppercase mt-4">
                            Follow us on social media
                        </p>
                        <ul class="list-inline social social-dark social-sm">
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-muted text-center small-xl">
                        &copy; 2019 Union - All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>

        <!--scroll to top-->
        <div class="scroll-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>

       

       